config MTK_MMA8X5X
	bool "MMA8X5X for MediaTek package"
	default n
	help
	  MMA8X5X is a system-in-package featureing a 3D digital accelerometer
	  and a 3D digital gyroscope performing at 1.1mA in high-performance
	  mode and enabling always-on low-power features for an
	  optional motion experience for the customer.